<div class="row1 row">



      <br><br><br><br><br>
      <div class="row1logo"><center><i>STOCK'EM</i></div>
      <div class="row1p"><center>Real-Time Market Data</div>


</div>


<div class="row2 row">
  <div class="container"><center>
    <h2>Stay on top of your portfolio</h2>
    <h2>Anytime. Anywhere.</h2>
    <img class="rowimg1" src="https://d2ue93q3u507c2.cloudfront.net/assets/marketing/images/home/fast_execution%402x.png" alt="">
    <h3>Fast Execution</h3>
    <p class="ptag">Forecasting risk in algorithmic stock trading is of paramount importance for everyone. You should always look for the ways how to detect sudden price changes and take immediate actions to protect your investments.For that reason, we have created an application that utilizes Yahoo Finance YQL to inform users real-time stock data in order to increase awareness on price changes. After registration, users can create as many portfolios as they want and as many stocks to these portfolios.</p>
  <br><br><br>


    <img class="rowimg2" src="https://d2ue93q3u507c2.cloudfront.net/assets/marketing/images/home/market_data%402x.png" alt="">
    <h3>Smart NewsFeed</h3>
    <p class="ptag">If you have information, you have options in your hands. That's why we show Top News relating to the stocks in the Portfolio by using Yahoo Finance API to pull most recent published news stories</p>

  </div>
</div>
