// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.userimg {
  width: 300px;
  length: 300px;
}

.userRow1 {
  font-size: 20px;
  font-family: 'Unica One';
}

#profile {
  margin-bottom: 310px;
}
